<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <form method="post" action="/" >
        <input placeholder="Enter Place Name" type="text" name="title">
        <br>
        <br>
         <label>Select Image:</label> 
  <input type="file" accept="image/*" / name="image">
  <br>
  <br>
        <input placeholder="Enter Price" type="number" name="price">
        <br>
        <br>
        <input placeholder="Enter Location" type="text" name="location">
        <br>
        <br>
        <input placeholder="Enter Country" type="text" name="country">
<br>
<br>
<textarea rows="10" cols="60" type="text" placeholder="Enter the description" name="description"></textarea>
        <br>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>