.heading{
    text-align: center;
    color:red;
}

.title{
    color:darkgreen
}

body{
    background-color:bisque;
}

.description{
    background-color:antiquewhite;
    border: 2px,solid,black; ;
}

image{
    
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

}